body{
    background-repeat: no-repeat;
    background-size: 1017px 700px;
    margin: 0em auto;
    background-color: white;
}
boby img{
    margin: 0em auto;
    display: flex;
}

.principal{
    height: 700px;
    width: 1330px;
    padding: 0em;
    margin: 0em auto;
    background-image:url(fundo-de-tecnologia-moderna-poligono_1035-17925.webp);
    background-size: 1017px 700px;
}

.centro{
    height: 400px;
    width: 710px;
    color: white;
    background-color: rgba(87, 87, 141, 0.642);
    margin: 0em;
    padding: 14em;
    padding-bottom: 4.78em;
}
.centro h3 {
    font-family: 'Gayathri', sans-serif;
    font-size: 2em;
    letter-spacing: 0.3em;
    font-weight: 100;
    margin-top: 7em;
    margin-bottom: 0em;
}
.centro h1{
    font-size: 4em;
    font-family: 'Baskervville', serif;
    font-weight: 200;
    margin: 0em;
}
.centro h5{
    font-family: "Times New Roman";
    font-weight: lighter;
    font-size: 2em;
    font-style: italic;
    margin-top: 0em;
}

.navegacao{
    background-color: #0099cc;
    float: left;
    text-align: center;
    margin: 0em;
<<<<<<< HEAD
    width: 977px;
=======
    width: 997px;
>>>>>>> homologacao
}
.navegacao ul{
    margin: 0em;
    padding:1em;
}
.navegacao li{
    font-family: 'Aubrey', cursive;
    font-size: 1.30em;
    font-style:italic;
    font-weight: 200;
    display: inline;
    list-style: none;
    margin: 0 1em;
}
.navegacao li a{
    background-color: #09c;
    color: white;
    margin: -0.109em;
    padding-left: 0.06em;
    padding-right: 0.06em;
    text-decoration: none;
}
.navegacao li a:hover{
   color: rgb(189, 203, 230);
}

.direita{
    background-color: #0099cc;
    color: white;
    float: right;
    font-family: cursive;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    height: 700px;
    width: 333px;   
}

.avatar img{
    width: 150px;
    margin-top: 4em;
    margin-bottom: 0em;
}

.nome{
    margin: 0em;
    font-family: 'Baskervville', serif;
    font-size: 2.0em;
    font-style: normal;
}

.profissao{
    margin:0em;
    padding: 0em;
    font-family: 'Aubrey', cursive;
    font-size: 1.1em;
}

.contato{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 4em;
    margin-bottom: 0em;
}

.redes img{
    margin: 0.5em 1em;
}

.baixar{
    height: 5em;
    width: 10em;
    text-align: center;
    margin: 0 auto;
}
.baixar button{
    color: #09c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    margin: 1em;
    padding: 0.51em;
}

.sobre{
    background-color: rgb(207, 238, 243);
    height: 200px;
<<<<<<< HEAD
    width: 1150px;
=======
    width: 1170px;
>>>>>>> homologacao
    margin: 0em auto ;
    padding: 1em 5em;
    padding-bottom: 7em;
}
.sobre h1{
    color: cornflowerblue;
    font-size: 36px;
    font-family: 'Brawler', serif;
    font-style: italic;
    font-weight: 400;
    margin-left: -0.55em;
}
.sobre p{
    clear: both;
    color: rgb(134, 134, 134);
    font-family: 'Livvic', sans-serif;
    font-size: 20px;
    font-weight: 200;    
}

.formacao{
    width: 1300px;
    height: auto;
    margin: 0em auto;
    padding: 0em 0em;
}
.cursos{
    background-color: rgb(255, 255, 255);
    float: left;
<<<<<<< HEAD
    width: 550px;
=======
    width: 400px;
>>>>>>> homologacao
    height: auto;
    margin: 0;
    margin-left: 2.5em;
}
.cursos h1{
    color: cornflowerblue;
    font-size: 36px;
    font-family: 'Brawler', serif;
    font-style: italic;
    font-weight: 400;
}
.cursos h3{
    font-family: 'Gayathri', sans-serif;
    color: cornflowerblue;
    font-weight: 200;
    letter-spacing: 0.1em;
    padding: 0em;
    margin-top: -1em;
}
.cursos p{
    color: black;
    font-family: 'Livvic', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.experiencia{
    background-color: rgb(255, 255, 255);
    float: right;
    width: 800px;
    left: auto;
    padding-left: 1em;
}
.experiencia h1{
    color: cornflowerblue;
    font-size: 36px;
    font-family: 'Brawler', serif;
    font-style: italic;
    font-weight: 400;
}
.experiencia h3{
    font-family: 'Gayathri', sans-serif;
    color: cornflowerblue;
    font-weight: 200;
    letter-spacing: 0.1em;
    padding: 0em;
    margin-top: -1em;
}
.experiencia p{
    color: black;
    font-family: 'Livvic', sans-serif;
    font-size:18px;
    font-weight:200;
    text-align: justify;
}

.artigo3{
    clear: both;    
    background-color: black;
}

footer{
    clear: both;
}